body {
  margin: 0 1rem 0;
}

body {
  margin: 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  padding: 0 1.25rem;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.grid-header {
  grid-column: 1/5;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media (min-width: 1024px) {
  .grid-header {
    font-size: 2.75rem;
  }
}

.partner-grid, .founder-grid, .goals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  padding: 0 1.25rem;
}

.p-small {
  font-size: 20px;
}

body {
  font-family: "roboto", arial, sans-serif;
  background-color: #fffbef;
}

a {
  color: #fffbef;
}

ul {
  padding: 1rem;
}
ul li {
  list-style: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  margin: 0 1rem 1rem;
  font-size: 18px;
  z-index: 2;
  font-weight: bold;
}
header .site-logo img {
  height: 20pt;
}
header .site-info .site-email {
  display: none;
}
@media (min-width: 1024px) {
  header .site-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
  }
  header .site-info .site-email {
    display: inline-block;
  }
}

.grid-section .grid-right .grid-right-container .grid-text {
  margin-bottom: 6rem;
}
.grid-section .grid-right .grid-right-container .grid-text p {
  font-size: 24px;
}
@media (min-width: 1024px) {
  .grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    columns: 0;
    height: 120rem;
    margin: 5rem 1rem 5rem;
  }
  .grid-section .grid-right {
    order: 2;
  }
  .grid-section .grid-right .grid-right-container {
    position: sticky;
    top: 20rem;
  }
  .grid-section .grid-right .grid-right-container .grid-text {
    padding-left: 6rem;
  }
  .grid-section .grid-left {
    order: 1;
    margin-top: 24rem;
  }
  .grid-section .grid-left .site-name {
    width: 100%;
  }
  .grid-section .grid-left .grid-image {
    position: sticky;
    top: 3rem;
  }
  .grid-section .grid-left .grid-image img {
    display: block;
  }
}

.side-img {
  width: 100%;
}

.email-link {
  text-decoration: none;
  color: #1c1a1a;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1c1a1a;
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.value-section .value-left .value-left-container p {
  font-size: 24px;
}
@media (min-width: 1024px) {
  .value-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100rem;
    margin: 5rem 1rem 10rem;
  }
  .value-section .value-left .value-left-container {
    position: sticky;
    top: 5rem;
    padding-right: 2rem;
  }
  .value-section .value-right .value-right-container {
    position: sticky;
    top: 50rem;
  }
  .value-section .value-right .value-right-container .pillars .pillars-title {
    font-weight: 400;
  }
  .value-section .value-right .value-right-container .pillars .pillar .pillar-number {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
  }
  .value-section .value-right .value-right-container .pillars .pillar .pillar-title {
    font-weight: 400;
  }
  .value-section .value-right .value-right-container .pillars .pillar .pillar-text {
    font-size: 24px;
  }
}

.goals-grid {
  background-color: #1c1a1a;
  color: #fffbef;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .goals-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.how-title {
  grid-column: 1/5;
  margin: 64px 0px;
}
@media (min-width: 1024px) {
  .how-title {
    grid-column: 1/10;
  }
}

.how-list {
  grid-column: 1/5;
  margin-top: 64px;
  font-size: 32px;
  line-height: 32px;
  margin: 64px 0px;
}
@media (min-width: 1024px) {
  .how-list {
    grid-column: 1/13;
    width: 40vw;
    font-size: 48px;
    line-height: 48px;
    margin: 64px 0px;
  }
}

.text {
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .text {
    grid-column: 1/5;
    font-size: 20px;
    line-height: 24px;
    width: 30vw;
  }
}

.how-title p {
  font-size: 48px;
  line-height: 32px;
}
@media (min-width: 1024px) {
  .how-title p {
    font-size: 56px;
    line-height: 48px;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding: 0px 20px;
}
@media (min-width: 1024px) {
  footer {
    grid-template-columns: repeat(12, 1fr);
  }
}

.summary {
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .summary {
    grid-column: 7/13;
    font-size: 44px;
    line-height: 44px;
  }
}
.summary img {
  animation: rotate 20s ease-out infinite;
  transition: transform 0.5s ease-in-out;
}

.footer-email {
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .footer-email {
    grid-column: 7/13;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  li a {
    text-decoration: none;
  }
}

.footer-social {
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .footer-social {
    grid-column: 13/13;
  }
}

.footer-logo {
  grid-column: 4/5;
  max-width: 30vw;
}
@media (min-width: 1024px) {
  .footer-logo {
    grid-column: 1/13;
    max-width: 10vw;
  }
}

.how-graph {
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .how-graph {
    grid-column: 9/13;
    position: sticky;
    top: 8rem;
    width: 50vw;
    margin-top: none;
  }
}

@media (min-width: 1024px) {
  .founder-grid {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 1.75rem;
  }
}

.grid-header {
  grid-column: 1/5;
  margin-top: 4rem;
  margin-bottom: 0rem;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .grid-header {
    font-size: 2.75rem;
    margin-top: 7rem;
  }
}
@media (min-width: 1180px) {
  .grid-header {
    font-size: 3.5rem;
    margin-top: 7rem;
  }
}

.lightBg {
  background-color: #fffbef;
  color: #1c1a1a;
}

.people-container {
  margin-top: 2rem;
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .people-container {
    grid-column: 5/13;
    margin-top: 7rem;
  }
}

.people-item {
  border-top: 1px solid #BBB8AF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 1.25rem;
  margin-bottom: 4rem;
  padding-top: 1rem;
}
@media (max-width: 1023px) and (min-width: 700px) {
  .people-item {
    width: calc(50% - 2.5rem);
    margin: 0 1.25rem;
    float: left;
    margin-bottom: 4rem;
  }
}
@media (min-width: 1024px) {
  .people-item {
    margin-bottom: 7rem;
  }
}

.people-text {
  grid-column: span 8;
  display: grid;
}
@media (min-width: 1024px) {
  .people-text {
    grid-template-columns: repeat(8, 1fr);
  }
}

.founder-name {
  margin: 0;
}

.name-title {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0;
}
@media (min-width: 1024px) {
  .name-title {
    grid-column: 1/5;
  }
}
@media (min-width: 1180px) {
  .name-title {
    grid-column: 1/5;
    font-size: 1.25rem;
  }
}

.founder-details {
  margin-top: 0;
}
@media (min-width: 1024px) {
  .founder-details {
    grid-column: 5/9;
  }
}

@media (min-width: 1024px) {
  .partner-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.darkBg {
  background-color: #1c1a1a;
  color: #fffbef;
}
@media (min-width: 1024px) {
  .darkBg {
    padding: 7rem 1.75rem 3.5rem;
  }
}

.partner-title {
  height: 100%;
  margin-top: 4;
  grid-column: 1/5;
}
@media (min-width: 1024px) {
  .partner-title {
    margin-top: 0;
  }
}

.partner-name {
  font-size: 1.5rem;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .partner-name {
    font-size: 2rem;
    margin-top: 0;
  }
}

.partner-text {
  display: block;
  grid-column: 1/5;
}
@media (min-width: 700px) {
  .partner-text {
    float: left;
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .partner-text {
    float: left;
    grid-column: span 4;
  }
}

@media (min-width: 1024px) {
  .third {
    grid-column: 5/9;
  }
}

@media (min-width: 1024px) {
  .image-grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .image-grid-section .image-section-left {
    transform: translate(0.55rem);
  }
  .image-grid-section .image-section-left .footer-img {
    animation: rotate 20s ease-out infinite;
    transition: transform 0.5s ease-in-out;
  }
  .image-grid-section .image-section-right {
    transform: translate(-0.55rem);
  }
  .image-grid-section .image-section-right .footer-img {
    animation: rotate 20s ease-out infinite;
    transition: transform 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=styles.css.map */
