header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 0 1rem 1rem;
    font-size: 18px;
    z-index: 2;

    .site-logo {
        img {
            height: 20pt;
        }
    }

    .site-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 45%;

        //.site-email {
        //    a {
        //        color: white;
        //        backdrop-filter: invert(1);
        //    }
        //}

        //.site-language {
        //    p {
        //        .lan {
        //            color: white;
        //            backdrop-filter: invert(1);
        //        }
        //    }
        //}
    }
}

.grid-section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 120rem;
    margin: 5rem 1rem 5rem;

    .grid-right {
        order: 2;

        .grid-right-container {

            position: sticky;
            top: 8rem;

            .grid-text {
                h1 {
                    font-size: 56px;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }

    .grid-left {
        order: 1;
        margin-top: 24rem;

        .site-name {
            width: 100%;
        }

        .grid-image {
            position: sticky;
            top: 3rem;

            img {
                display: block;
            }
        }
    }
}

.side-img {
    width: 100%;
}

//body {
//    background-color: #000000;
//    background: transparent;
//}

a {
    text-decoration: none;
    color: #000000;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transition: transform 0.25s ease-out;
  transform-origin: bottom left;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}