header {
    position: sticky;
    top: 0;
}

.grid-section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80rem;

    .grid-right {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .grid-left {
        order: 1;

        .site-name {
            width: 100%;
        }

        .grid-image {
            position: sticky;
            top: 0;

            img {
                display: block;
            }
        }
    }
}

.side-img {
    width: 100%;
}

.mockup {
    height: 100rem;
}