header {
    position: sticky;
    top: 0;
}

.grid-section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 120rem;
    margin: 5rem 1rem 5rem;

    .grid-right {
        order: 2;

        .grid-right-container {

            position: sticky;
            top: 8rem;

            .grid-text {
                h1 {
                    font-size: 56px;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }

    .grid-left {
        order: 1;
        margin-top: 24rem;

        .site-name {
            width: 100%;
        }

        .grid-image {
            position: sticky;
            top: 0;

            img {
                display: block;
            }
        }
    }
}

.side-img {
    width: 100%;
}

.mockup {
    height: 100rem;
}