header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    margin: 1rem 1rem 1rem;
    font-size: 16px;

    .site-logo {
        img {
            height: 20pt;
        }
    }

    .site-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 45%;
    }
}

.grid-section {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 120rem;
    margin: 5rem 1rem 5rem;

    .grid-right {
        order: 2;

        .grid-right-container {

            position: sticky;
            top: 8rem;

            .grid-text {
                h1 {
                    font-size: 56px;
                }

                p {
                    font-size: 24px;
                }
            }
        }
    }

    .grid-left {
        order: 1;
        margin-top: 24rem;

        .site-name {
            width: 100%;
        }

        .grid-image {
            position: sticky;
            top: 0;

            img {
                display: block;
            }
        }
    }
}

.side-img {
    width: 100%;
}

.mockup {
    height: 100rem;
}

a {
    text-decoration: none;
    color: #000000;
}