@use 'variables' as *;
@use 'normalize';

.footer-img{
    width: 100%;
}

.footer-grid{
    @extend %baseGrid;
    @media (min-width: 1024px) {
            grid-template-columns: repeat(12,1fr);
    }
}

.footer-img-box-left{
    grid-column: 1/7;
    width:calc(100% + 1rem);
    transform: translate(+0.55rem);

}

.footer-img-box-right{
    grid-column: 7/13;
    width:calc(100% + 1rem);
    transform: translate(-0.55rem);
}

img {
    animation: rotate 20s ease-out infinite;
    transition: transform 0.5s ease-in-out;
}