@use 'variables' as *;
@use 'normalize' as *;

// body{
//     background-color: $body-bg-color;
//     color: $text-color;
// }

.how-graph{
    grid-column: 1/5;
    @media(min-width:1024px){
        grid-column:9/13;
        position: sticky;
        top: 8rem;
        width: 45vw;
        margin-top: none;
        margin-bottom: 7rem;
    }
}


.goals-grid{
    background-color: $body-bg-color;
    color: $text-color;
    @extend %baseGrid;
    @media (min-width: 1024px) {
            grid-template-columns: repeat(12,1fr);
    }
}


.how-title {
    grid-column: 1 / 5;
    margin: 64px 0px;
    @media(min-width:1024px){
        grid-column:1/10;
    }
}


.how-list{
    grid-column: 1/5;
    margin-top: 64px;
    font-size: 32px;
    line-height: 32px;
    margin: 64px 0px;
    @media(min-width:1024px){
        grid-column:1/13;
        width: 40vw;
        font-size: 48px;
        line-height: 48px;
        margin: 64px 0px;
    }
}


.text{
    grid-column: 1/5;
    @media(min-width:1024px){
        grid-column:1/5;
        font-size: 20px;
        line-height: 24px;
        width: 30vw;
        margin-bottom: 7rem;
    }
}

.how-title p{
        font-size: 32px;
        line-height: 32px;
        @media(min-width:1024px){
        font-size: 48px;
        line-height: 48px;
}
}

 li a{
    @media(min-width:1024px){
        text-decoration: none;
    }
}

    footer {
    position: relative;
}


footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        padding: 0px 20px;
        @media(min-width:1024px){
        display: grid;
        grid-template-columns:repeat(12, 1fr);
        column-gap: 28px;
        padding: 0px 28px;
    }
    }


.summary{
    grid-column: 1/5;
    @media(min-width:1024px){
        grid-column:7/13;
        font-size: 44px;
        line-height: 44px;
    }
}

 .footer-email{
    grid-column: 1/5;
    grid-row: 2;
    @media(min-width:1024px){
        grid-column:7/11;
        margin-bottom: 28px;
    }
}

.footer-social{
    grid-column: 1/5;
    grid-row: 3;
    @media(min-width:1024px){
        grid-column:12/13;
        margin-bottom: 28px;
    }
}

.footer-logo{
    grid-column: 4/5;
    position: absolute;
    right: 28px;
    bottom: 28px;
    width: 100px;
    @media(min-width:1024px){
        grid-column:1/13;
        margin-bottom: 28px;
        position: absolute;
        left: 28px;
        bottom: 28px;
        width: 120px;
    }
}

