body {
    margin: 0 1rem 0;
}

.h1 p {
        font-size: 32px;
        line-height: 32px
}

.h2 {
    font-size: 32px;
    line-height: 32px
}

a {
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding: 0 1.25rem;
}

.grid-header {
    grid-column:1/5;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @media(min-width: 1024px){
        font-size: 2.75rem;
    }
}

%baseGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding:0 1.25rem;
}

img {
    width: 100%;
}


body{
    margin: 0;
}