body{
    margin: 0;
}

.grid-header{
    grid-column:1/5;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @media(min-width: 1024px){
        font-size: 2.75rem;
    }
}

%baseGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding:0 1.25rem;
}