body{
    margin: 1rem;
}


.h1 p{
        font-size: 32px;
        line-height: 32px
}

.h2{
    font-size: 32px;
    line-height: 32px
}
a{
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding: 0 1.25rem;
}


%baseGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    padding:0 1.25rem;
}

