@use "variables" as *;
@use 'normalize' as *;

.image-grid-section {

    @media(min-width:1024px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .image-section-left {
            transform: translate(+0.55rem);

            .footer-img {
                animation: rotate 20s ease-out infinite;
                transition: transform 0.5s ease-in-out;
            }
        }

        .image-section-right {
            transform: translate(-0.55rem);

            .footer-img {
                animation: rotate 20s ease-out infinite;
                transition: transform 0.5s ease-in-out;
            }
        }
    }
}