@use 'variables' as *;

body{
    font-family: $body-font;
    background-color: $light-color;
}

a{
    color: $light-color;
}

ul{
    padding: 1rem;

    li{
        list-style: none;
    }
}

h1 {
    font-size: 48px;
    font-weight: 400; 
}
