$dark-color: #1c1a1a;
$light-color:  #fffbef;
$body-bg-color: rgb(28, 26, 26);
$small-mq: 40rem;
$text-color: rgb(255, 251, 239);
$padding:1rem;

$main-padding: 2rem;

$body-font: 'roboto',arial, sans-serif;