
$font-main: "Helvetica Neue", Arial, sans-serif;
$bg-color: #f5eedf;
$text-color: #111;



body {
  margin: 0;
  font-family: $font-main;
  background: $bg-color;
  color: $text-color;
  line-height: 1.35;
}



.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: 60px auto;
  padding: 0 40px;
  gap: 60px;
}



.left-section {
  width: 55%;
  line-height: 1.5;
  height: 100vh;
  position: sticky;

  h1 {
    font-size: 3.4rem;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .subtext {
    font-size: 1.2rem;
    max-width: 700px;
  }
}



.pillars {
  width: 35%;
  height: 100%;
  opacity: 0;
  transform: translateY(80px);
  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: entry 20% cover 40%;

  .pillars-title {
    font-size: 1.9rem;
    margin-bottom: 20px;
  }

  .pillar {
    display: flex;
    gap: 30px;
    padding: 30px 0;

    .number {
      font-size: 5.5rem;
      font-weight: 600;
      min-width: 60px;
    }

    h2 {
      margin: 0 0 10px;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
      max-width: 300px;
    }
  }
}



hr {
  border: none;
  border-top: 1px solid #222;
  margin: 15px 0;
}


@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .pillars {
    max-width: 100%;
    position: static;
  }
}
