@use "abstracts/variables";
@use "base/global";
@use "layout/container";
@use "layout/left-section";
@use "layout/pillars";
@use "components/divider";
@use "animations/reveal";
@use "utilities/media-queries";





// VARIABLES
$font-main: "Helvetica Neue", Arial, sans-serif;
$bg-color: #f5eedf;
$text-color: #111;
$max-width-container: 1400px;
$gap-container: 60px;
$gap-mobile: 30px;
$padding-container: 40px;
$padding-mobile: 20px;

// BODY
body {
  margin: 0;
  font-family: $font-main;
  background: $bg-color;
  color: $text-color;
  line-height: 1.35;
}

// CONTAINER
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: $max-width-container;
  margin: 60px auto;
  padding: 0 $padding-container;
  gap: $gap-container;
}

// LEFT SECTION
.left-section {
  width: 55%;
  line-height: 1.5;
  height: 100vh;
  position: sticky;

  h1 {
    font-size: 3.4rem;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .subtext {
    font-size: 1.2rem;
    max-width: 700px;
  }
}

// PILLARS (RIGHT SIDE)
.pillars {
  width: 35%;
  height: 100%;
  opacity: 0;
  transform: translateY(80px);
  animation: reveal linear both;
  animation-timeline: scroll(root);
  animation-range: entry 20% cover 40%;

  .pillars-title {
    font-size: 1.9rem;
    margin-bottom: 20px;
  }

  .pillar {
    display: flex;
    gap: 30px;
    padding: 30px 0;

    .number {
      font-size: 5.5rem;
      font-weight: 600;
      min-width: 60px;
    }

    h2 {
      margin: 0 0 10px;
      font-size: 1.6rem;
    }

    p {
      font-size: 1.2rem;
      max-width: 300px;
    }
  }
}

// DIVIDER
hr {
  border: none;
  border-top: 1px solid #222;
  margin: 15px 0;
}

// KEYFRAMES
@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// MEDIA QUERIES

// Tablet
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .pillars {
    max-width: 100%;
    position: static;
    margin-top: 40px;
  }
}

// Mobile
@media (max-width: 600px) {
  .container {
    padding: 0 $padding-mobile;
    gap: $gap-mobile;
  }

  .left-section {
    width: 100%;
    height: auto;
    position: relative;

    h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }

    .subtext {
      font-size: 1rem;
      max-width: 100%;
    }
  }

  .pillars {
    width: 100%;

    .pillars-title {
      font-size: 1.5rem;
    }

    .pillar {
      flex-direction: column;
      gap: 15px;
      padding: 20px 0;

      .number {
        font-size: 4rem;
        min-width: auto;
      }

      h2 {
        font-size: 1.3rem;
      }

      p {
        font-size: 1rem;
        max-width: 100%;
      }
    }
  }
}
